/* ^===================CUSTOM PROPS=================== */

:root {
  --player-height: 90px;
  --sidebar-width: 50px;
  --main-content-height: 100%;
  --main-content-top-height: 100px;
}

/* ^ ====================== RESET ====================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #a3a3a3;
}

ul {
  list-style-type: none;
}

/* ^ ==================== UTILS ======================  */

.debug {
  min-height: 50px;
  min-width: 50px;
  border: 2px dashed red;
  background-color: #ff000022;
}

.hidden {
  display: none;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #141922;
}

.row {
  display: flex;
  flex-wrap: wrap;

  /* debug */
  /* row-gap: 1rem; */

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* [class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.col-1-2 {
  width: calc(100% / 2);
}

/* !TOP-CONTENT */

#top-content {
  height: calc(100% - var(--player-height));
  display: flex;

  /* debug */
  background-color: #141922;
}

/* !SIDEBAR */

#sidebar {
  height: calc(100vh - var(--player-height));
  width: var(--sidebar-width);
  padding: 1rem 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* color: white; */

  /* debug */
  background-color: #000000;
}

#sidebar .logo-xs {
  width: 30px;
}

#sidebar .logo-xl {
  width: 150px;
  padding-left: 15px;
}

#sidebar .tab-menu {
  flex-grow: 1;
  width: 30px;
  color: #a3a3a3;
}

#sidebar .playlist {
  display: none;
  color: #a3a3a3;
  flex-grow: 1;
}

#sidebar .playlist-title {
  display: none;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

#sidebar .icon-playlist {
  display: none;
}

#sidebar .background-icon-playlist {
  background-color: lightslategray;
  padding: 10px;
}

#sidebar .playlist-menu {
  display: none;
  color: #a3a3a3;
}

#sidebar .playlist-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#sidebar .download img {
  width: 15px;
}

#sidebar .user-background {
  background-color: #808080;
  padding: 3px;
  border-radius: 50%;
}

#sidebar .profile {
  color: #a3a3a3;
}

#sidebar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

#sidebar .user img {
  width: 20px;
}

#sidebar .download-script {
  display: none;
}

#sidebar .user-name {
  display: none;
  color: white;
  font-weight: 700;
}

/* !MAIN-CONTENT */

#main-content {
  height: var(--main-content-height);

  width: calc(100% - var(--sidebar-width));
  overflow-y: auto;

  /* debug */
  /* background-color: blue; */
}

#main-content .main-content-top {
  height: var(--main-content-top-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #080b12;
}

#main-content .main-content-top button {
  background-color: #080b12;
  font-size: 0.6rem;
  color: white;
  padding: 10px;
  border: white solid 1px;
  border-radius: 18px;
}

#main-content section {
  margin-bottom: 30px;
}

#main-content .main-content-bottom {
  padding: 1rem;
}

#main-content .option {
  padding-bottom: 1rem;
}

#main-content .main-content-bottom h3 {
  color: white;
  padding-bottom: 1rem 0;
}

#main-content .main-content-bottom .list-option {
  color: #a3a3a3;
  font-size: 0.6rem;
}

/* #main-content .main-content-bottom .container {
  padding: 1rem;
} */

#main-content .main-content-bottom .row {
  justify-content: center;
}

#main-content .list-option li {
  display: inline-block;
  padding: 0.2rem;
}

#main-content .recently-played .row {
  gap: 1rem;
}

#main-content .recently-played .row .col-variable {
  width: 48%;
}
#main-content .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content .card-content span {
  color: #a3a3a3;

  font-size: 0.6rem;
}

#main-content .daily-mix span {
  color: #a3a3a3;

  font-size: 0.8rem;
}

/* !PLAYER */

#player {
  height: var(--player-height);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 40px;
  padding: 0.7rem;

  /* debug */
  background-color: #282828;
}

#player .song-recap {
  color: #a3a3a3;
  display: flex;
  align-items: center;

  gap: 7px;

  /* background-color: yellow; */
}

#player .song-description {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}

#player .current-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.6rem;
}

#player .current-song h3 {
  color: white;
}

#player .love-song {
  display: flex;
  flex-direction: column;
}

#player .sinister-xs {
  width: 30px;
}

#player .media-player {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* background-color: green; */
}

#player .button-media {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

#player .time-media {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #a3a3a3;
}

#player .exterior-line {
  height: 3px;
  background-color: gray;
  flex-grow: 1;

  /* debug */
  min-width: 50px;
}

#player .interior-line {
  height: 3px;
  background-color: #a3a3a3;
  width: 30%;
}

#player .settings {
  color: #a3a3a3;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: ;
  /* background-color: blue; */
}

#player .exterior-volume {
  height: 3px;
  min-width: 50px;
  background-color: #808080;
}

#player .interior-volume {
  height: 3px;
  width: 22px;
  background-color: #a3a3a3;
}

/* ? ========= mobile-s view ========= */

@media screen and (min-width: 639px) {
  :root {
    --sidebar-width: 200px;
  }

  #sidebar {
    align-items: flex-start;
  }

  #sidebar .tab-menu {
    flex-grow: 0;
  }

  #sidebar .home,
  .search,
  .library {
    display: flex;
    align-items: center;
  }

  #sidebar .logo-xs {
    display: none;
  }

  #sidebar .logo-xl {
    display: block;
  }

  #sidebar .home-script,
  .search-script,
  .library-script {
    display: block;
  }

  #sidebar .playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #sidebar .playlist-title {
    display: block;
  }

  #sidebar .icon-playlist {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #sidebar .playlist-menu {
    display: block;
  }

  #sidebar .download-script {
    display: contents;
  }

  #sidebar .user-name {
    display: block;
  }

  /* ^PLAYER */

  #player .current-song {
    display: block;
  }

  #player .time-media {
    padding: 0 10%;
  }
}

/* ?-----mobile-md view----- */

@media screen and (min-width: 878px) {
  /* ^MAIN-CONTENT */

  #main-content .recently-played .col-variable {
    width: 24%;
  }

  /* ^PLAYER */

  #player .love-song {
    display: block;
  }
}
